{{!-- Página principal - homepage --}}

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao MundoM!</h1>
  <p class="lead">Em breve site estuturado com camisas disponiveis.</p>
  <hr class="my-4">
  <p>Novidades em breve.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h4>Lista de produto</h4>

<div class="card">
  <div class="card-body">
    <div class="col-md-auto container-fluid d-flex flex-wrap">
      {{#each produto}}
      <div class="card mt-4 ms-2" style="width: 18rem;">
        <img src="/img/img-produto/{{urlFoto}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{nome}}</h5>
          <p class="card-text">DESCRIÇÃO: {{descricao}} <br> ID: {{_id}}</p>

          <a href="/produtos/{{slug}}"><button class="btn btn-secondary">Saiba mais</button></a>


        </div>
      </div>
      {{else}}
      <h4 class="form-control mt-4">Nenhuma postagem encontrada.</h4>
      {{/each}}
    </div>
  </div>
</div>