<h3 class="mt-2 ms-lg-2;">Lista de produtos</h3>
<hr>
<a href="/admin/produtos/add"><button class="btn btn-success">Novo produto</button></a>
<hr>
<div class="card">
    <div class="card-body">
        <div class="col-md-auto container-fluid d-flex flex-wrap">
            {{#each produtos}}
            <div class="card mt-4 ms-2" style="width: 18rem;">
                 <img src="/img/img-produto/{{urlFoto}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{nome}}</h5>
                    <p class="card-text">Descrição: {{descricao}} <br> ID: {{_id}}</p>

                    <div class="mt-4">
                        <a href="/admin/produtos/edit/{{_id}}"><button class="btn btn-dark mt-2">Editar</button></a>
                        <form action="/admin/produtos/deletar" method="POST">
                            <input type="hidden" name="id" value="{{_id}}">
                            <button type="submit" class="btn btn-danger mt-2">Excluir</button>
                        </form>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>